PORT=5000
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=db
DATABASE_URL="postgresql://user:password@localhost:5432/postgres"
JWT_SECRET=your_secret
VAPID_PUBLIC_KEY = aiu3k618k3ghN_WsWm6ictAHKZfoM0AR3ghg03oJlWM
VAPID_PRIVATE_KEY = wkwkwk618k3ghN_WsWm6ictAHKZfoM0AR3ghg03oJlWM
REDIS_URL=